[workspace]
members = [
  "librubyfmt",
  "librubyfmt/ripper_deserialize"
]

[package]
name = "rubyfmt-main"
version = "0.1.0"
authors = ["Penelope Phippen <penelopedotzone@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rubyfmt = { path = "./librubyfmt" }
libc = "0.2.71"
glob = "0.3"
